<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/icon.png">

    <title><%= titulo %></title>
    <%- include('partials/header') %>
</head>
<body>
    <%- include('partials/navigation') %>
    <main class="h-100 container pt-2 text-center display-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Sobre <%= info %></h1>
            <p class="h6">
                Oliver Jonas "Ollie" Queen (nacido el 16 de mayo de 1985 - fallecido el 10 de diciembre de 2019) es un ex playboy multimillonario, convertido en superhéroe de Star City.

Luego de naufragar después de que el yate de su familia se hundiera, Oliver llegó a Lian Yu, una isla en donde se embarcó en una misión de supervivencia y autodescubrimiento, aprendiendo habilidades de supervivencia. Viajó a China y Rusia en misiones como agente de A.R.G.U.S. durante algún tiempo, se convirtió en miembro de la Bratva, y el vigilante asesino Kapiushon. Después de ser declarado muerto luego de desaparecer en el mar durante cinco años, Oliver regresó a su hogar con la misión de salvar a su ciudad del crimen y la corrupción. Comenzó su cruzada como un arquero conocido como El Encapuchado, que estaba dispuesto a usar fuerza letal con los nombres en la lista de su padre.

Después de que el Proyecto causó la muerte de su mejor amigo, Tommy Merlyn, Oliver decidió continuar su cruzada, renombrandose como Flecha, y haciendo el voto de no usar fuerza letal siempre que sea posible para honrar la memoria de Tommy. Cinco meses después de que salvara a Starling City del Asedio, Flecha fue declarado como un héroe para la gente de Starling City.

Tras la muerte de su ex-novia, Sara Lance, Oliver entró en conflicto con Ra's al Ghul, líder de la Liga de Asesinos que amenazó con matar a la gente de Starling si no encontraba al asesino de Sara, lo que obligó a Oliver a reclamar falsamente responsabilidad para luchar contra Ra's hasta la muerte, donde Oliver fue ampliamente superado y derrotado. Oliver sobrevivió al duelo y por ley tuvo que convertirse en el próximo Ra's al Ghul, pero él se negó, lo que provocó que Roy Harper tuviera que fingir su muerte después de que Ra's revelara la identidad de Oliver al público y Roy lo desmintiera fingiendo que el era Flecha. Cuando Ra's casi mata a Thea Queen, Oliver se rindió a la Liga para salvar la vida de su media hermana y se unió a ellos bajo la identidad de Al Sah-him (السهم, Flecha). Cuando Ra's planeó que Oliver destruyera su hogar, Starling City, una tradición que Oliver debe concretar para convertirse en el próximo Ra's al Ghul, quien regresó a su equipo para detener el ataque y a Ra's al Ghul de una vez por todas. Después de salvar a Starling City, Oliver se retiró del vigilantismo y comenzó una nueva vida en Ivy Town con Felicity Smoak.

Cinco meses después de retirarse, Oliver fue llamado de regreso a Starling City, renombrado como Star City en honor a la aparente muerte Ray Palmer, y tomó un nuevo nombre clave, Flecha Verde, estilizado como el "Arquero Esmeralda", para continuar luchando por la gente de su ciudad. Después de detener a la organización terrorista H.I.V.E., y su líder Damien Darhk, de completar el Génesis, la admiración de Star City hacia Oliver Queen le dio pleno apoyo de la gente y poco después se convirtió en alcalde.

Cinco meses después de convertirse en alcalde, entró en conflicto con Adrian Chase, también conocido como Prometheus, un asesino en serie que quería vengar a su padre, Justin Claybourne y destruir la vida de Oliver. Cuando el equipo de Chase capturó a los amigos y la familiares de Oliver, su enfrentamiento final se llevo a cabo en Lian Yu. Mientras Oliver liberó a todos, incluido su hijo ilegítimo, William Clayton, Chase se suicidó para detonar bombas colocadas sobre Lian Yu en un intento de matar a todos junto con él.

Después de los eventos en Lian Yu, Oliver decidió criar a William, como una promesa que le hizo a la madre de su hijo; Samantha Clayton, quien murió en la isla. Mientras Oliver lidiaba con su identidad secreta como el vigilante perseguido por el FBI, también tuvo que lidiar con Cayden James, quien planeaba destruir Star City después de creer que Oliver mató a su hijo. Después de derrotar a James, dio lugar a la verdadera mente maestra Ricardo Diaz, quien posteriormente comenzó a tomar el control del gobierno de Star City utilizando todos los activos de James y amasar un enorme ejército.
            </p>
        </section>
    </main>

</body>
</html>